*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #f8f8f9;
}
.p-why2{
    min-height: 5vh;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

@media screen and (max-width: 319px) {
    nav{
        background-color: #f8f8f9;
    }

    .text-main{
        font-size: 3rem;
        text-align: center;
    }
    .p-why{
        width: 100%;
        padding:0 2rem;
    }
    .div-background_why{
        width: 100%;
        background-position: center;
    }
    .buttons{
        width: 100%;
        justify-content: center;
    }
    button{
        width:8rem;
        font-size: .8rem;
        padding: .7rem;

    }
}
@media screen and (min-width: 320px) {
    .xsm{
        display: none;
    }
    .formulario{
        height: 100%;
    }
    .registrarme{
        display: block;
    }
    nav{
        background-color: #f8f8f9;
    }
    .div-home{
        justify-content: start;
        gap: 2rem;
    }
    .text-main{
        font-size: 3rem;
        text-align: center;
        position: relative;
        top: 10rem;
    }
    .p-why{
        width: 100%;
        padding:0 2rem;
    }
    .div-background_why{
        width: 90vw;
    }
    .buttons{
        width: 100%;
        justify-content: center;
        position: relative;
        top: 10rem;
    }
    button{
        width:8rem;
        font-size: .8rem;
        padding: .7rem;

    }
    .img-cp{
        width: 80%;
        padding-top: 3rem;
    }
}
@media screen and (min-width:640px) {
    .xsm{
        display: block;
    }

    .div-background_why {
        width: 40vw;
        object-fit: cover;
        background-position: center;
    }
    .p-why2{
        height: 12vh;
        align-self: center;
        text-align: center;
    }
    .text-main {
    }
    .buttons {
    }

}
@media screen and (min-width:767px) {
        .registrarme{
            display: none;
        }
        .p-why2{
            height: 15vh;
            align-self: center;
            text-align: center;
        }
        .img-cp{
            width: 50%;
        }
}
