@media screen and (max-width: 319px) {

    .container-profile-image{
        flex-direction: column;
        gap:0;
    }
    .boton-editar{

    }
    .editar-row{
        flex-direction: column!important;
        min-height: fit-content;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0;
        gap: 1rem;
    }
    .profile-img{
        width: 6rem;
        height: 6rem;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
}
}
@media screen and (min-width: 320px) and (max-width:640px) {

    .editar-row{
        flex-direction: column!important;
        min-height: fit-content;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0;
        gap: 1rem;
    }
    .profile-contain{
        margin-top: 5rem;
    }
    .container-profile-image{
        flex-direction: column;
        gap:0;
        align-items: center;
        justify-content: start;
        height: 10rem;
    }
    .social-div{
        width: fit-content;
        height: fit-content;
    }
    .boton-editar{
        bottom: 6.5rem;
        order: 2;
    }
    .profile-img{
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        translate: none;
        
        margin: none;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        
}
.none{
    display: none;
}
}
@media screen and (min-width:640px) {
    .profile-contain{
        margin-top: 0;
    }
    .container-profile-image {
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .container-profile-image>img{
        position: static;

    }
    .boton-editar{
        position:static;
    }
}
@media screen and (min-width:767px) {

}
@media screen and (max-width:481px){
    .cartelito{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .cartelito2{
        display: none;
}
    .cartelito>h3{
        display:inline;
        text-align: center;
        align-self: center;
        margin: auto;
    }
}
@media (max-width:370px){
    .profile-contain {
        margin-top: 12rem;
    }
}