.spinner{
    animation: spin .75s linear infinite;
    -webkit-animation: spin .75s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}